
@import "~react-bulma-components/src/index";

.et_hidden
{
  visibility: hidden;
}

.et_form_valid
{
  box-shadow: 0 0 1ex lime !important;
}

.et_form_invalid
{
  box-shadow: 0 0 1ex red !important;
}
